<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.dsideal.jbp.login"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.dsideal.jbp.login/css/default.css">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.dsideal.jbp.login/com.dsideal.jbp.login.Login">
         </property>
      </product>
   </extension>

</plugin>
